.form {
  box-shadow: 0 0 0 white;
  padding: 0px;
}

.pagebg {
  box-shadow: 0 0 0 white;
  background-color: white;
  border-top: 1px solid lightgrey;
}

.std-padding-width-2 {
  width: 45px;
  flex-basis: 45px;
  flex-shrink: 0 !important;
  flex-grow: 0 !important;
  text-align: center;
}
